/* Quiz styles */

//VARIABLES
$backgroundColor: aliceblue;
$font: Verdana;
$leftMargin: 50px;
$padding: 10px;

//MIXIN
@mixin border-radius($bradius) {
    -webkit-border-radius: $bradius;
       -moz-border-radius: $bradius;
        -ms-border-radius: $bradius;
            border-radius: $bradius;
  }

  @mixin border($border) {
    -webkit-border: $border;
       -moz-border: $border;
        -ms-border: $border;
            border: $border;
  }
  
 

header {
    @include border-radius(20px); 
    @include border(2px solid #064277);
    margin: 10px auto;
    padding: $padding;
    background-color: $backgroundColor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family: $font;
    font-size: 1em;
    font-style:oblique;
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
   
    margin: 10px auto;
    padding: $padding;
    
}

#list{
    @include border-radius(20px);
    @include border(2px solid #064277);
    background-color: $backgroundColor;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $leftMargin;
    color:#58a0e0
}

ul{
    margin-left: $leftMargin;
}

p{
    font-family: $font;
    font-style:normal;
}

.samplepara {
    @include border-radius(20px);
    @include border(3px solid #58a0e0);
    padding: $padding;
    background-color: white;
}

footer {
    @include border-radius(20px);
    @include border(2px solid #064277);;
    margin: 10px auto;
    padding: $padding;
    background-color: $backgroundColor;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


